.container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.start {
  height: 100%;
  justify-content: flex-start;
  padding: 1rem 3rem;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

