.container {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1152px) {
    width: 80vw;
  }
}


.start {
  height: 100%;
  justify-content: flex-start;
  padding: 1rem 3rem;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

